In [1]:
dataset = []
path = 'dataset1.txt'
f = open(path, 'r')
for line in f:
	dataset.append(line.split())
f.close()

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,0,1,10,100,1000,10000,10001,10002,10003,10004,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88157,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
88158,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
88159,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
88160,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
88161,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [3]:
from mlxtend.frequent_patterns import apriori
import time

def apriori_sort(df, min_support, sort = "none"):
  start_time = time.time()
  dfa = apriori(df, min_support, use_colnames=True)
  if sort == "sup":
    print("Сортировка по support")
    dfa = dfa.sort_values(by=['support'])
  if sort == "items":
    print("Сортировка по itemsets")
    dfa = dfa.sort_values(by=['itemsets'])
  endtime  = time.time() - start_time
  return [dfa,endtime]

In [4]:
from mlxtend.frequent_patterns import association_rules

def apriori_association_sort(df, sort = "none", metric="confidence", min_threshold=0.7):
  start_time = time.time()
  dfaa = association_rules(df, metric, min_threshold)
  if sort == "sup":
    print("Сортировка по support")
    dfaa = dfaa.sort_values(by=['support'])
  if sort == "items":
    print("Сортировка по itemsets")
    dfaa = dfaa.sort_values(by=['itemsets'])
  endtime  = time.time() - start_time
  return [dfaa,endtime]

In [5]:
min_support = 0.01
sort = "none"
dfa_list = apriori_sort(df, min_support, sort)

print("Time of execution: ", dfa_list[1])
print("Min support: ", min_support)
dfa_list[0]

Time of execution:  51.41552519798279
Min support:  0.01

      support           itemsets
0    0.012500             (1004)
1    0.025374              (101)
2    0.010004            (10515)
3    0.031692              (110)
4    0.016175             (1146)
..        ...                ...
154  0.013532  (48, 39, 170, 38)
155  0.014020   (48, 39, 38, 32)
156  0.018670   (48, 32, 39, 41)
157  0.012250   (36, 39, 38, 48)
158  0.022583   (48, 39, 38, 41)

[159 rows x 2 columns]

In [6]:
sort = "sup"
dfaa_list = apriori_association_sort(dfa_list[0],sort)

print("Time of execution: ", dfaa_list[1])
print("Min support: ", min_support)
dfaa_list[0]

Сортировка по support
Time of execution:  0.01251530647277832
Min support:  0.01

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
13,"(101, 48)",(39),0.014870,0.574794,0.010730,0.721587,1.255383,0.002183,1.527246
36,"(48, 39, 110)",(38),0.011762,0.176902,0.011694,0.994214,5.620153,0.009614,142.258838
37,"(48, 110, 38)",(39),0.015437,0.574794,0.011694,0.757531,1.317917,0.002821,1.753652
38,"(48, 110)","(39, 38)",0.015653,0.117341,0.011694,0.747101,6.366936,0.009858,3.490171
16,"(48, 110)",(39),0.015653,0.574794,0.011762,0.751449,1.307336,0.002765,1.710741
9,(37),(38),0.012182,0.176902,0.011865,0.973929,5.505485,0.009709,31.571702
4,(255),(39),0.016719,0.574794,0.011989,0.717096,1.247571,0.002379,1.503006
5,(255),(48),0.016719,0.477927,0.011989,0.717096,1.500431,0.003999,1.845409
45,"(48, 36, 38)",(39),0.015426,0.574794,0.012250,0.794118,1.381569,0.003383,2.065286
44,"(36, 39, 48)",(38),0.012659,0.176902,0.012250,0.967742,5.470509,0.010011,25.516050
46,"(36, 48)","(39, 38)",0.016061,0.117341,0.012250,0.762712,6.499971,0.010366,3.719778
31,"(48, 475)",(39),0.016197,0.574794,0.012386,0.764706,1.330400,0.003076,1.807125
32,"(475, 39)",(48),0.017014,0.477927,0.012386,0.728000,1.523245,0.004255,1.919386
6,(286),(38),0.013418,0.176902,0.012659,0.943364,5.332706,0.010285,14.533215
27,"(36, 48)",(39),0.016061,0.574794,0.012659,0.788136,1.371162,0.003427,2.006972
41,"(48, 170)","(39, 38)",0.017661,0.117341,0.013532,0.766217,6.529843,0.011460,3.775550
39,"(48, 39, 170)",(38),0.013679,0.176902,0.013532,0.989221,5.591925,0.011112,76.358204
40,"(48, 170, 38)",(39),0.017445,0.574794,0.013532,0.775683,1.349497,0.003505,1.895555
19,"(48, 170)",(39),0.017661,0.574794,0.013679,0.774566,1.347555,0.003528,1.886170
42,"(48, 32, 38)",(39),0.018670,0.574794,0.014020,0.750911,1.306400,0.003288,1.707046
21,"(48, 237)",(39),0.019079,0.574794,0.014110,0.739596,1.286714,0.003144,1.632868
2,(2238),(39),0.019453,0.574794,0.014598,0.750437,1.305576,0.003417,1.703804
22,"(48, 310)",(39),0.019192,0.574794,0.015279,0.796099,1.385016,0.004247,2.085357
23,"(39, 310)",(48),0.021007,0.477927,0.015279,0.727322,1.521826,0.005239,1.914612
26,"(36, 48)",(38),0.016061,0.176902,0.015426,0.960452,5.429300,0.012585,20.812631
15,"(48, 110)",(38),0.015653,0.176902,0.015437,0.986232,5.575030,0.012668,59.782935
20,"(225, 48)",(39),0.019691,0.574794,0.015880,0.806452,1.403027,0.004562,2.196897
18,"(48, 170)",(38),0.017661,0.176902,0.017445,0.987797,5.583878,0.014321,67.450747
43,"(41, 48, 32)",(39),0.023400,0.574794,0.018670,0.797867,1.388092,0.005220,2.103596
14,"(39, 110)",(38),0.019952,0.176902,0.019736,0.989198,5.591800,0.016207,76.201582
33,"(48, 65)",(39),0.028686,0.574794,0.020383,0.710558,1.236195,0.003894,1.469051
7,(310),(39),0.029423,0.574794,0.021007,0.713955,1.242106,0.004095,1.486501
25,"(36, 39)",(38),0.023105,0.176902,0.022062,0.954836,5.397551,0.017974,18.224472
47,"(41, 48, 38)",(39),0.026928,0.574794,0.022583,0.838669,1.459077,0.007106,2.635610
17,"(170, 39)",(38),0.023355,0.176902,0.022901,0.980573,5.543042,0.018770,42.368989
34,"(89, 48)",(39),0.031737,0.574794,0.024103,0.759471,1.321292,0.005861,1.767795
35,"(89, 39)",(48),0.031181,0.477927,0.024103,0.773008,1.617419,0.009201,2.299966
3,(225),(39),0.036943,0.574794,0.026667,0.721830,1.255806,0.005432,1.528582
24,"(41, 32)",(39),0.036251,0.574794,0.026758,0.738110,1.284130,0.005920,1.623606
0,(110),(38),0.031692,0.176902,0.030909,0.975304,5.513258,0.025303,33.329520
11,(89),(39),0.043522,0.574794,0.031181,0.716445,1.246438,0.006165,1.499554
8,(36),(38),0.033302,0.176902,0.031646,0.950272,5.371757,0.025755,16.552170
12,(89),(48),0.043522,0.477927,0.031737,0.729216,1.525789,0.010937,1.928002
1,(170),(38),0.035151,0.176902,0.034380,0.978057,5.528821,0.028162,37.511499
28,"(41, 38)",(39),0.044203,0.574794,0.034607,0.782910,1.362070,0.009199,1.958661
29,"(48, 38)",(39),0.090107,0.574794,0.069213,0.768127,1.336351,0.017421,1.833787
30,"(48, 41)",(39),0.102289,0.574794,0.083551,0.816811,1.421049,0.024756,2.321130
10,(41),(39),0.169517,0.574794,0.129466,0.763734,1.328708,0.032029,1.799689

In [7]:
min_support = 0.03
sort = "none"
dfa_list = apriori_sort(df, min_support, sort)

print("Time of execution: ", dfa_list[1])
print("Min support: ", min_support)
dfa_list[0]

Time of execution:  36.876492500305176
Min support:  0.03

     support      itemsets
0   0.031692         (110)
1   0.035151         (170)
2   0.036943         (225)
3   0.034391         (237)
4   0.172036          (32)
5   0.033302          (36)
6   0.176902          (38)
7   0.574794          (39)
8   0.169517          (41)
9   0.477927          (48)
10  0.050725          (65)
11  0.043522          (89)
12  0.030909     (110, 38)
13  0.034380     (170, 38)
14  0.032134      (38, 32)
15  0.095903      (39, 32)
16  0.036251      (32, 41)
17  0.091128      (48, 32)
18  0.031646      (36, 38)
19  0.117341      (39, 38)
20  0.044203      (38, 41)
21  0.090107      (48, 38)
22  0.129466      (39, 41)
23  0.330551      (48, 39)
24  0.031612      (39, 65)
25  0.031181      (89, 39)
26  0.102289      (48, 41)
27  0.031737      (89, 48)
28  0.061274  (48, 39, 32)
29  0.034607  (39, 38, 41)
30  0.069213  (48, 39, 38)
31  0.083551  (48, 39, 41)

In [8]:
sort = "sup"
dfaa_list = apriori_association_sort(dfa_list[0],sort)

print("Time of execution: ", dfaa_list[1])
print("Min support: ", min_support)
dfaa_list[0]

Сортировка по support
Time of execution:  0.00882863998413086
Min support:  0.03

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(110),(38),0.031692,0.176902,0.030909,0.975304,5.513258,0.025303,33.329520
4,(89),(39),0.043522,0.574794,0.031181,0.716445,1.246438,0.006165,1.499554
2,(36),(38),0.033302,0.176902,0.031646,0.950272,5.371757,0.025755,16.552170
5,(89),(48),0.043522,0.477927,0.031737,0.729216,1.525789,0.010937,1.928002
1,(170),(38),0.035151,0.176902,0.034380,0.978057,5.528821,0.028162,37.511499
6,"(41, 38)",(39),0.044203,0.574794,0.034607,0.782910,1.362070,0.009199,1.958661
7,"(48, 38)",(39),0.090107,0.574794,0.069213,0.768127,1.336351,0.017421,1.833787
8,"(48, 41)",(39),0.102289,0.574794,0.083551,0.816811,1.421049,0.024756,2.321130
3,(41),(39),0.169517,0.574794,0.129466,0.763734,1.328708,0.032029,1.799689

In [9]:
min_support = 0.05
sort = "none"
dfa_list = apriori_sort(df, min_support, sort)

print("Time of execution: ", dfa_list[1])
print("Min support: ", min_support)
dfa_list[0]

Time of execution:  36.86474108695984
Min support:  0.05

     support      itemsets
0   0.172036          (32)
1   0.176902          (38)
2   0.574794          (39)
3   0.169517          (41)
4   0.477927          (48)
5   0.050725          (65)
6   0.095903      (39, 32)
7   0.091128      (48, 32)
8   0.117341      (39, 38)
9   0.090107      (48, 38)
10  0.129466      (39, 41)
11  0.330551      (48, 39)
12  0.102289      (48, 41)
13  0.061274  (48, 39, 32)
14  0.069213  (48, 39, 38)
15  0.083551  (48, 39, 41)

In [10]:
sort = "sup"
dfaa_list = apriori_association_sort(dfa_list[0],sort)

print("Time of execution: ", dfaa_list[1])
print("Min support: ", min_support)
dfaa_list[0]

Сортировка по support
Time of execution:  0.006059885025024414
Min support:  0.05

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,"(48, 38)",(39),0.090107,0.574794,0.069213,0.768127,1.336351,0.017421,1.833787
2,"(48, 41)",(39),0.102289,0.574794,0.083551,0.816811,1.421049,0.024756,2.321130
0,(41),(39),0.169517,0.574794,0.129466,0.763734,1.328708,0.032029,1.799689

In [11]:
min_support = 0.1
sort = "none"
dfa_list = apriori_sort(df, min_support, sort)

print("Time of execution: ", dfa_list[1])
print("Min support: ", min_support)
dfa_list[0]

Time of execution:  36.41235542297363
Min support:  0.1

    support  itemsets
0  0.172036      (32)
1  0.176902      (38)
2  0.574794      (39)
3  0.169517      (41)
4  0.477927      (48)
5  0.117341  (39, 38)
6  0.129466  (39, 41)
7  0.330551  (48, 39)
8  0.102289  (48, 41)

In [12]:
sort = "sup"
dfaa_list = apriori_association_sort(dfa_list[0],sort)

print("Time of execution: ", dfaa_list[1])
print("Min support: ", min_support)
dfaa_list[0]

Сортировка по support
Time of execution:  0.006876945495605469
Min support:  0.1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(41),(39),0.169517,0.574794,0.129466,0.763734,1.328708,0.032029,1.799689

In [13]:
min_support = 0.15
sort = "none"
dfa_list = apriori_sort(df, min_support, sort)

print("Time of execution: ", dfa_list[1])
print("Min support: ", min_support)
dfa_list[0]

Time of execution:  36.48344421386719
Min support:  0.15

    support  itemsets
0  0.172036      (32)
1  0.176902      (38)
2  0.574794      (39)
3  0.169517      (41)
4  0.477927      (48)
5  0.330551  (48, 39)

In [14]:
sort = "sup"
dfaa_list = apriori_association_sort(dfa_list[0],sort)

print("Time of execution: ", dfaa_list[1])
print("Min support: ", min_support)
dfaa_list[0]

Сортировка по support
Time of execution:  0.004462718963623047
Min support:  0.15

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []